
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
}
#wavesAnima{
	position: fixed;
	bottom: 450px;
	left: 10%;
	transition: all 3s ease-in-out;
  	animation: ani 8s infinite, spin 10s linear infinite;
}
#wavesAnima img{
	width: 160px;
}
@keyframes spin{ 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg);
	}
}
@keyframes ani{
  0% {
    bottom: 450px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 450px;
  }
}
#lemonAnima{
	position: fixed;
	bottom: -100px;
	right: 10%;
	x-transition: all 2s ease-in-out;
  	animation: pani 7s infinite, spin 10s linear infinite;
}

@keyframes pani{
  0% {
    bottom: -100px;
  }
  50% {
    bottom: 300px;
  }
  100% {
    bottom: -100px;
  }
}
h1, h2, h3, h4, h5, h6, p, a, aside, div{
	font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	letter-spacing: 2px;
}
header{
	text-align: center;
}
header nav{
	position: absolute;
	top: 200vh;
	left: 50%;
	transform: translate(-50%,0);
	width: 100%;
	background-color: white;
}
header nav ol{
	padding: 0;
	margin: 0;
}
header nav ol li{
	list-style: none;
	display: inline-block;
	padding: 1.5%;
}
header a{
	color: black;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}
header a:hover{
	border-bottom: 3px solid black;
}
header ol li:last-child a{
	color: red;
}
header ol li:last-child a:hover{
	border-bottom: 3px solid red;
}
.current{
	border-bottom: 3px solid black;
}
.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  box-shadow: 0 4px 20px -7px gray;
}
.above{
	background-image: url("Images/drip.svg");
	background-repeat: repeat;
	position: absolute;
	width: 100%;
	height: 100vh;
	border: 20px solid #C4EDEA;
	background-size: 120px;
}
.above img{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
}
.beneath{
	background-size: cover;
	background: url("Images/gb.jpg") fixed no-repeat center center;
	height: 200vh;
}

.beforeScroll{
	text-align: center;
	font-size: 110px;
	font-weight: bold;
	margin: 0 10%;
	color: white;
	position: relative;
	top: 75%;
	transform: translate(0, -50%);
}
#what{
	text-align: center;
	padding: 200px 0;
}
#what p{
	width: 450px;
	margin: 0 auto;
	font-size: 28px;
	line-height: 1.5;
}
@media only screen and (max-width: 480px){
	#what p {
	    width: 90%;
	}
}
#flavors{
	text-align: center;

}
#flavors h1{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
}
#flavors p{
	padding: 10px 10%;
	letter-spacing: 1px;
	line-height: 1.8;
}
.buyButton{
	background-color: white;
	padding: 20px;
	display: block;
	margin: 20px 20%;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}
.buyButton:hover{
	background-color: #29353A;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.imgContainer{
	background-color: green;
	background-size: 130% 130%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 280px;
	height: 280px;
	margin: 0 auto;
	display: inline-block;
}
#ssFirstProduct{
	background-color: #E1F6B4;
	background-image: url("Images/shapes-bg-cuc.png");
	background-size: 115% 80%;
	background-repeat: no-repeat;
	width: 450px;
	margin: 30px 10px 30px 10px;
	padding: 30px 0;
	display: inline-block;
}
#ssFirstProduct div{
	background-image: url("Images/product-cucumber.jpg");
}
#ssSecondProduct{
	background-color: #F8F49E;
	background-image: url("Images/shapes-bg-lem.png");
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	width: 450px;
	margin: 30px 10px 30px 10px;
	padding: 30px 0;
	display: inline-block;
}
#ssSecondProduct div{
	background-image: url("Images/product-lemon.jpg");	
}
#ssThirdProduct{
	background-color: #FEDFC0;
	background-image: url("Images/shapes-bg-grape.png");
	background-size: contain;
	background-position: left -50px bottom -50px;
	background-repeat: no-repeat;
	width: 450px;
	margin: 30px 10px 30px 10px;
	padding: 30px 0;
	display: inline-block;
}
#ssThirdProduct div{
	background-image: url("Images/product-grapefruit.jpg");	
}
#ssFourthProduct{
	background-color: #DBE0D9;
	background-image: url("Images/shapes-bg-straw.png");
	background-size: contain;
	background-position: right -170px center;
	background-repeat: no-repeat;
	width: 450px;
	margin: 30px 10px 30px 10px;
	padding: 115px 0;
	display: inline-block;
	vertical-align: bottom;
}
@media only screen and (max-width: 480px){
	#flavors article {
	    width: 100%;
	    margin: 0;
	}
	#ssFirstProduct, #ssSecondProduct, #ssThirdProduct, #ssFourthProduct{
		width: 100%;
	}
}
.fresh{
	background-color: #E1F6B4;
	background-image: url("Images/flavors-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	text-align: center;
}
.fresh h1{
	text-align: center;
	font-size: 140px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@media only screen and (max-width: 480px){
	.fresh h1 {
	    font-size: 60px;
	}
}
#process{
	text-align: center;
	display: inline-block;
}
#process article{
	vertical-align: text-top;
	width: 29%;
	display: inline-block;
	position: relative;
	margin: 10%;
}
@media only screen and (max-width: 480px){
	#process article{
	width: 100%;
	}
}
#process div{
	font-size: 160px;
	position: absolute;
	z-index: -1;
	top: -20%;
	font-family: 'Montserrat', sans-serif;
	color: #FEDFC0;
	font-weight: bold;
}
#process p{
	line-height: 2;
	font-size: 18px;
}
.wrapStory{
	background: linear-gradient(#FFFFE1,#FFF5A8, #DCFAEA);
}
#story{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 10% 0;
}
#story p{
	font-size: 24px;
	line-height: 1.75;
}
@media only screen and (max-width: 480px){
	#story{
	    width: 100%;
	}
}
.imageSlider{
	position: relative;
}
.imageSlider div{
	text-align: center;
}
#slider{
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}
#slider .slides{
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider img{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}
@media only screen and (max-width: 480px){
	#slider img, #slider{
	    width: 360px;
	    height: 200px;
	}
}
@media only screen and (max-width: 740px){
	#slider img, #slider{
	    width: 480px;
	    height: 280px;
	}
}
.fa-circle{
	color: gray;
	padding: 1px;
}
.fa-circle:hover, .fa-circle:active{
	color: black;
	cursor: pointer;
}
.philosophy{
	text-align: center;
	width: 75%;
	margin: 0 auto;
	padding: 20% 0;
}
.philosophy p{
	line-height: 2;
	font-family: 'Droid Sans Mono';
	font-size: 20px;
}
.philosophy .sign{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Karla', sans-serif;
}
.inspiration{
	text-align: center;
	display: inline-block;
}
.inspiration p{
	width: 44%;
	text-align: left;
	display: inline-block;
	vertical-align: text-top;
	margin: 0 2.5%;
	font-size: 20px;
}
.commitment{
	text-align: center;
	padding: 20% 0;
}
.commitment p{
	width: 50%;
	margin: 0 auto;
	font-size: 28px;
    line-height: 1.5;
}
.adventure{
	text-align: center;
	position: relative;	
}
.adventure img{
	width: 70%;
}
.insidePictureText{
	width: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.insidePictureText h2{
	font-size: 40px;
	font-weight: bold;
	border: 7px solid white;
	color: white;
	padding: 40px 60px;
	margin: 0 10%;
}
@media only screen and (max-width: 480px){
	.insidePictureText h2{
	    font-size: 18px;
	    padding: 10px;
	    border-width: 2px;
	}
}
.adventure p{
	color: #a2a2a2;
	font-style: italic;
	font-size: 12px;
	font-family: 'Droid Sans Mono';
	padding: 0;
	margin: 0;
}
.adventureProject{
	text-align: center;
	padding: 10% 0;
}
.adventureProject p{
	width: 60%;
	margin: 0 auto;
	font-size: 28px;
    line-height: 1.5;
    padding-bottom: 5%;
}
.adventureProject a{
	text-align: center;
	background-color: #FFF8BA;
	color: black;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
}
.adventureProject a:hover{
	background-color: white;
	transition: all 0.2s ease-in-out;
}
#locations{
	text-align: center;
	padding-top: 10%;
}
#locations p{
	width: 60%;
	margin: 0 auto;
	font-size: 28px;
    line-height: 1.5;
    padding-bottom: 10%;
}
div#map {
    width: 100%;
    height: 80vh;
}
/* *******************************************do this ***************************** */
.infoContent h4{
	letter-spacing: initial;
	font-size: 16px;
}
.infoContent a{
	font-size: 16px;
	color: black;
}
.placesOnMap{
	margin: 0 10%;
}
.placesOnMap ul{
	padding: 0;
	list-style: none;
	column-count: 2;
}
.placesOnMap ul li{
	padding-bottom: 5px;
}
.placesOnMap ul li a{
	text-decoration: none;
	color: black;
	line-height: 1.5;
	font-size: 19px;
	padding-bottom: 10px;
	transition: all 0.1s ease-in-out;
}
.placesOnMap ul li a:hover{
	border-bottom: 2px solid black;
	padding-bottom: 1px;
	transition: all 0.1s ease-in-out;
}
.placesOnMap ul li a span{
	font-size: 14px;
	color: #888;
}
.location{
	text-align: center;
}
.location aside{
	text-align: left;
	width: 40%;
	display: inline-block;
}
.location a{
	text-decoration: none;
	color: black;
	display: block;
	line-height: 1.5;
	font-size: 19px;
	transition: all 0.2s ease-in-out;
}
.location a:hover{
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}
#contact{
	text-align: center;
	background-color: #DBE0D9;
	padding-top: 5%;
}
#contact p{
	width: 60%;
	margin: 0 auto;
	font-size: 28px;
    line-height: 1.5;	
}
#contact input, #contact textarea{
	padding: 15px;
	margin: 10px;
	width: 50%;
	display: inline-block;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	background-color: transparent;
}
#contact textarea{
	resize: none;
	height: 200px;
}
#contact input:focus, #contact input:hover, #contact textarea:focus, #contact textarea:hover{
	background-color: #FFF8BA;	
}
.sendMessage{
	background-color: #29353A;
	padding: 20px;
	color: white;
	margin: 20px 100px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	display: inline-block;
}
.sendMessage:hover{
	background-color: white;
	color: black;
	transition: all 0.2s ease-in-out;
}
footer{
	text-align: center;
	background-color: #DDF3F7;
	padding-top: 30px;
}
footer form{
	width: 50%;
	margin: 0 auto;
	display: inline-block;
}
footer input{
	padding: 20px;
	float: left;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	background-color: transparent;
	margin: 0;
}
footer input:first-child{
	width: 70%;
}
footer input:last-child{
	width: 30%;
}
.subscribe{
	background-color: white;
	padding: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: 2px solid black;
	border-left: none;
}
.subscribe:hover{
	background-color: #29353A;
	color: white;
	transition: all 0.2s ease-in-out;
}
footer section aside{
	text-align: left;
	display: inline-block;
	margin: 50px;
	vertical-align: text-top;
}
#leftFooter a{
	color: black;
	font-size: 22px;
	font-weight: bold;
}
.carrotBorder{
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
	width: 50px;
	height: 50px;
	transform: rotate(45deg);
	margin: 10px;
}
.carrotBorder .fa{
	position: relative;
	transform: rotate(-45deg);
	color: black;
}
.carrotBorder .fa:visited{
	color: black;
}
.carrotBorder:hover{
	background-color: white;
}
